<footer class="border-top text-center small text-muted py-3">
      <p class="m-0">
        Copyright &copy; 2020 <a href="/" class="text-muted">Coding Challenge</a>. All
        rights reserved.
      </p>
    </footer>
     <script src="/main-bundled.js"></script>
  </body>
</html>
