<%- include('includes/header') %> <!-- header -->
 <div class="flex justify-center">
    <button id="typeA" class="typeA mr-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">typeA</button>
    <button id="typeB" class="typeA mr-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">typeB</button>
    <button id="typeC" class="typeA mr-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">typeC</button>
    <button id="typeD" class="typeA mr-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">typeD</button>
    <button id="typeE" class="typeA mr-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">typeE</button>
    <button id="typeF" class="typeA bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">typeF</button>
 </div>
<div id ="contents" class="m-3 flex flex-wrap bg-gray-300">
    
</div>
    <!-- footer begins -->
<%- include('includes/footer') %> <!-- footer -->
